@import "tailwindcss";

@layer base {
  @media print {
    .no-print {
      display: none !important;
    }
    body {
      background-color: white !important;
      color: black !important;
    }
    .print\:shadow-none {
      box-shadow: none !important;
    }
    .print\:border-none {
      border: none !important;
    }
  }
}
